@model StoreApplication.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Product</h4>
<hr />
<div class="jumbotron jumbotron-fluid" style="margin:20px 100px;">
    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                Product Edit Form
            </div>
            <div class="card-body">
                <h2 class="card-title">Edit And Update Product</h2>
                <div class="row">
                    <div class="col-md-12">
                        <form asp-controller="Product" asp-action="Edit" style="width: 400px; margin: 25px auto;">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="ProductId" />
                            <div class="form-group">
                                <label asp-for="ProductName" class="control-label"></label>
                                <input asp-for="ProductName" class="form-control" />
                                <span asp-validation-for="ProductName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <img src="~/images/not-found.jpg" style="max-width:100px;max-height:100px" />
                                @*<img src="@(ViewBag.Base64String = "data:image/jpg;base64," + Convert.ToBase64String(Model.ProductImage, 0, Model.ProductImage.Length))" style="max-width:100px;max-height:100px; margin-top:10px;" />*@

                            </div>
                            <div class="form-group">
                                <label asp-for="Price" class="control-label"></label>
                                <input type="number" asp-for="Price" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-action="UpdateAndSaveToSQL" type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                    <a asp-controller="Home" asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
